<div class="tvGuideHeader">
    <div class="channelTimeslotHeader">
        <button class="btnSelectDate clearButton" style="display:block;"></button>
    </div>
    <div class="timeslotHeaders hiddenScrollX"></div>
</div>

<div class="scrollbar scrollbarY">
    <div class="handle"><div class="mousearea"></div></div>
</div>
<div class="scrollFrame scrollFrameY itemScrollFrame">
    <div class="scrollSlider scrollSliderY">

        <div class="programContainer">
            <div class="channelList"></div>

            <div class="scrollFrame scrollFrameX programGridContainer programGrid" style="white-space: nowrap; overflow-x: scroll; overflow-y: hidden; scroll-behavior: smooth;">
            </div>

        </div>
        <div style="height:10000px;"></div>
    </div>
</div>