<div class="tvGuideHeader">
    <div class="channelTimeslotHeader">
        <button class="btnSelectDate clearButton" style="display:block;"></button>
    </div>
    <div class="timeslotHeaders hiddenScrollX"></div>
</div>

<div class="hiddenScrollY" style="scroll-behavior: smooth; flex-grow:1;">

    <div class="programContainer">
        <div class="channelList"></div>

        <div class="programGridContainer programGrid hiddenScrollX" style="white-space: nowrap; scroll-behavior: smooth;">
        </div>

    </div>
</div>
